{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <p>Bienvenue sur notre site Symfony !</p>

    <h2>Posts</h2>
    {% if posts is not empty %}
        <ul>
            {% for post in posts %}
                <li>
                    {{ post.content }} ({{ post.createdAt|date('d/m/Y H:i') }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun post disponible.</p>
    {% endif %}
{% endblock %}