{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="home">
        <h1>Accueil</h1>
            <!-- Affichage des informations de session -->
            <div class="session-info">
                <h3>Informations de session</h3>
                {% if username is not empty %}
                    <p>Nom d'utilisateur : {{ username }}</p>
                {% endif %}
            </div>

        <section class="posts-section">
            <h2>Posts</h2>
            {% if posts is not empty %}
                <div class="posts-grid">
                    {% for post in posts %}
                        <div class="post-tile">
                            <div class="post-content">
                                {{ post.content }}
                            </div>
                            <div class="post-author">
                                <strong>
                                    {{ post.getUserName() }}
                                </strong>
                            </div>
                            <div class="post-date">
                                {{ post.createdAt|date('d/m/Y H:i') }}
                            </div>
                        </div>
                        <hr> <!-- Séparation entre les posts -->
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun post disponible.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}