<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil Utilisateur</title>
</head>
<body>
    <h1>Bienvenue, {{ username }} !</h1>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
</body>
</html>
